@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #0f172a;
  
  --primary: #0f172a;
  --primary-foreground: #f8fafc;
  
  --secondary: #cbd5e1;
  --secondary-foreground: #0f172a;
  
  --accent: #ef4444;
  --accent-foreground: #f8fafc;
  
  --muted: #f1f5f9;
  --muted-foreground: #64748b;
  
  --card: #ffffff;
  --card-foreground: #0f172a;
  
  --border: #e2e8f0;
  
  --sidebar: #020617;
  --sidebar-foreground: #f8fafc;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-border: var(--border);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
